<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="fo-dicom" version="2.0.2" targetFramework="net45" />
  <package id="fo-dicom.Core" version="2.0.2" targetFramework="net45" />
  <package id="fo-dicom.Legacy" version="2.0.2" targetFramework="net45" />
  <package id="fo-dicom.Platform" version="2.0.2" targetFramework="net45" />
  <package id="GlmNet" version="0.5.1.0" targetFramework="net45" />
  <package id="HelixToolkit" version="1.0.0" targetFramework="net45" />
  <package id="HelixToolkit.Wpf" version="1.0.0" targetFramework="net45" />
  <package id="MathNet.Numerics" version="4.2.0" targetFramework="net45" />
  <package id="NLog" version="4.4.11" targetFramework="net45" />
  <package id="NLog.Config" version="4.4.11" targetFramework="net45" />
  <package id="NLog.Schema" version="4.4.11" targetFramework="net45" />
  <package id="NUnit" version="3.7.1" targetFramework="net45" />
  <package id="SharpGL" version="2.4.0.0" targetFramework="net45" />
  <package id="SharpGL.WPF" version="2.4.0.0" targetFramework="net45" />
</packages>